@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium"),
       local("Yu Gothic");
  font-weight: 500;
       /*
         Chrome 58.0.3029.110 (64-bit) では
         "Yu Gothic Medium" を認識しないバグあるため
         "Yu Gothic" と font-weight も併せて指定。
       */
}
.image {
  position:relative;
}
span.image:hover :not(.selected){
  opacity:0.5;
}
.support {
  position:absolute;
  top:-80;
  left:0;
}
.red {
  color:red;
}
.blue {
  color:blue;
}
.f0 {
  border:medium solid black;
}
.f1 {
  border:medium solid brown;
}
.f2 {
  border:medium solid brown;
}
.f3 {
  border:medium solid silver;
}
.f4 {
  border:medium solid goldenrod;
}
.f5 {
  border:medium solid yellow;
}
.selected {
width:100px;
height:100px;
z-index:5;
}
#header {
height:160px;
width:100%;
background-color:skyblue;
position:fixed;
top:0px;
left:0px;
margin-top:0;
margin-left:0;
z-index:4;
}
#topheader {
height:160px;
width:475px;
background-color:moccasin;
position:fixed;
top:0px;
left:0px;
margin-top:0;
margin-left:0;
z-index:4;
}
#topheader .starting {
display:inline;
position:absolute;
left:50px;
}
#header .sub {
display:inline;
position:absolute;
left:500px;
}
#header form {
position:absolute;
right:80px;
top:90px;
font-size:20px;
color:red;
}
#footer {
position:fixed;
bottom:20px;
right:40px;
}
#anchor1 {
padding-top:180px;
margin-top:-180px;
}
#anchor2 {
padding-top:180px;
margin-top:-180px;
}
#anchor3 {
padding-top:180px;
margin-top:-180px;
}
#anchor4 {
padding-top:180px;
margin-top:-180px;
}
#anchor5 {
padding-top:180px;
margin-top:-180px;
}
#anchor6 {
padding-top:180px;
margin-top:-180px;
}
#anchor7 {
padding-top:180px;
margin-top:-180px;
}
#anchor8 {
padding-top:180px;
margin-top:-180px;
}
#anchor9 {
padding-top:180px;
margin-top:-180px;
}
#anchor10 {
padding-top:180px;
margin-top:-180px;
}
#anchor11 {
padding-top:180px;
margin-top:-180px;
}
#anchor12 {
padding-top:180px;
margin-top:-180px;
}
#anchor13 {
padding-top:180px;
margin-top:-180px;
}



/*  Battle home.html.erb  */


#dialog {
    width: 250px;
    margin: auto;
    margin-top: 4vh;
    padding: 3px 2px;
    display: none;
    text-align: center;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 4px #888;
}

#enemy{
  float: left;
}
#tips{
  width: 800px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: solid 1px black;
  float: right;
}
#action{
  width: 800px;
  height: 300px;
  float:right;
}
#enemyselect {
  width: 500px;
  height: 300px;
  float: left;
}
#enemyselect .ene{
  float:left;
}
#command{
  float: left;
}
#command .command{
  float: left;
}
#submit{
  float: left;
}
#servant{
  float: right;
}
#servant .chara{
  float: right;
  width: 240px;
  height: 300px;

  margin: 15px;
}

p.text {
  display:inline;
  cursor:default;
}
.text:hover + .fukidashi {
  display:block;
}
div.box {
  position:relative;
  display:inline;
}
.fukidashi {  /*  クラススキル（１,２体目）  */
  display: none;
  width: 500px;
  position: absolute;
  top: 0px;
  left: -20px;
  padding: 1px;
  border:1px solid blue;
  background-color:white;
  border-radius: 5px;
}
.text:hover + .fukidashi3 {
  display:block;
}
.fukidashi3 {  /*  クラススキル（３体目）  */
  display: none;
  width: 500px;
  position: absolute;
  top: 0px;
  left: -220px;
  padding: 1px;
  border:1px solid blue;
  background-color:white;
  border-radius: 5px;

}
.text2:hover + .fukidashi2 {
  display:block;
}
.fukidashi2 {  /*  宝具説明（１,２体目）  */
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width:500px;
  padding: 16px;
  border:solid 1px;
  border-radius: 5px;
  background-color:white;
  z-index:1;
}
.text2:hover + .fukidashi2-3 {
  display:block;
}
.fukidashi2-3 {  /*  宝具説明（３体目）  */
  display: none;
  position: absolute;
  top: 0px;
  left: -120px;
  width:500px;
  padding: 16px;
  border:solid 1px;
  border-radius: 5px;
  background-color:white;
  z-index:1;
}
.text:hover + .explainskill {
  display:block;
}
.text:hover + .explainskill2 {
  display:block;
}
.text:hover + .explainskill3 {
  display:block;
}
.explainskill {  /*  スキル説明（１体目）*/
  display: none;
  position: absolute;
  top: -200px;
  left: 50px;
  width:800px;
  padding: 16px;
  border:solid 1px;
  border-radius: 5px;
  background-color:white;
  z-index:1;
}
.explainskill2 {
  display: none;
  position: absolute;
  top: -200px;
  left: -250px;
  width:800px;
  padding: 16px;
  border:solid 1px;
  border-radius: 5px;
  background-color:white;
  z-index:1;
}
.explainskill3 {  /*  スキル説明（３体目）*/
  display: none;
  position: absolute;
  top: -200px;
  left: -700px;
  width:800px;
  padding: 16px;
  border:solid 1px;
  border-radius: 5px;
  background-color:white;
  z-index:1;
}
table {
  border-collapse: collapse;
}
td {
  border: solid 1px;
  padding: 0.5em;
  width: 100px;
}
.command:hover :not(.checked){
  opacity: 0.7;
}
.checked {
  width: 50px;
  height: 50px;
  z-index:6;
}
span.next {
  position:fixed;
  top:50px;
  right:150px;
  cursor: pointer;
  border:1px solid black;
  border-radius:5px;
  padding:5px 15px;
  background-color:white;
  z-index:5;
}
span.reset {
  position:fixed;
  top:50px;
  right:50px;
  cursor: pointer;
  border:1px solid black;
  border-radius:5px;
  padding:5px 15px;
  background-color:white;
  z-index:5;
}
span.turn0 {
  position:fixed;
  top:10px;
  left:30px;
  width:290px;
  height:80px;
  background-color:#ff9900;
  border-radius:5px;
  z-index:5;
}
span.turn1 {
  position:fixed;
  top:10px;
  left:330px;
  width:290px;
  height:80px;
  border-radius:5px;
  z-index:5;
}
span.turn2 {
  position:fixed;
  top:10px;
  left:630px;
  width:290px;
  height:80px;
  border-radius:5px;
  z-index:5;
}
td:hover {
  opacity:0.7
}
td {
  cursor: pointer;
}
td.cal {
  color: white;
}
td.cal2 {
  color: white;
}
td.cal3 {
  color: white;
}
span #np_sum {
  color: #3968db;
}
span #np_sum2 {
  color: #3968db;
}
span #np_sum3 {
  color:#3968db;
}
ul.foo {
  width:1300px;
  padding:0;
  margin:0;
  /*letter-spacing:-0.4em;*/
}
ul.foo li {
  display:inline-block;
  border:1px solid black;
  width:425px;
  border-radius: 5px;
  letter-spacing:normal;
}
img.classskill {
  z-index:0;
}
button.button_to_top {
  border:1px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  position:fixed;
  bottom:25px;
  left:20px;
}
button.order_change {
  border:1px solid black;
  border-radius: 5px;
  padding: 3px 7px;
  background-color:white;
}
div.orderchange {
  display:inline;
  text-align:right;
}
div.footer_next {
  display:inline;
}
span.npreset1 {
  cursor: pointer;
}
span.npreset2 {
  cursor: pointer;
}
span.npreset3 {
  cursor: pointer;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
